h1{
  color: green;
  text-align: center;
  margin-top: 60px;
}

p{
  color: red;
  text-align: center;
  font-size: 50px;
}

a{
  color: orange;
  text-align: center;
  font-size: 100px;
}
  h2{
    color:blue;
    text-align: left;
    font-size: large;
  }

button{
  color: gold;
  text-align: right;
  font-size: smaller;
}

.container {
  text-align: center;
  margin-top: 60px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 60px;
  color: #2e7d32; /* verde bonito */
  margin-bottom: 20px;
}

button {
  background-color: #1976d2;
  border: none;
  color: white;
  padding: 12px 24px;
  margin: 10px;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #0d47a1;
}

button:active {
  transform: scale(0.95);
}

