h1{
  color: green;
  text-align: center;
  margin-top: 60px;
}

p{
  color: red;
  text-align: center;
  font-size: 50px;
}

a{
  color: orange;
  text-align: center;
  font-size: 100px;
}
  h2{
    color:blue;
    text-align: left;
    font-size: large;
  }

button{
  color: gold;
  text-align: right;
  font-size: smaller;
}
